trigger:
  include:
    branches:
      - master
  exclude:
    paths:
      - README.md  # Exclude README.md changes from triggering builds
      - LICENSE

pr:
- master

pool:
  vmImage: 'windows-latest'  # Use Windows agent since the project uses Robocopy (Windows-specific)

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '9.x' 

- script: dotnet restore GitMerger.sln
  displayName: 'Restore NuGet packages'

- script: dotnet build GitMerger.sln --configuration Release --no-restore
  displayName: 'Build solution' 

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'GitMerger/bin/Release/net9.0'
    ArtifactName: 'GitMergerArtifact'
    publishLocation: 'Container'
  displayName: 'Publish build artifacts'
